$dnr-blue-darkest  : #27333f;
$dnr-blue-darker   : #3b4e5e;
$dnr-blue-dark     : #4f687d;
$dnr-blue-base     : #65849f;
$dnr-blue-bright   : #779cbb;
$dnr-blue-brighter : #92b7d3;
$dnr-blue-brightest: #b1d1e7;
