/* consistent values */
$lineAreaHeight: 45px;
$mainAreaWidth: 640px;
$mainAreaHeight: 360px;
$sideAreaWidth: 160px;

body {
  background: transparent;
  margin: 0;
  overflow: hidden;
  
  font-family: "Fira Code", monospace;
  font-size: 14pt;
  color: #65849f;
}

/* base positioning and background images */
#container {
  width: 800px;
  height: 450px;
  overflow: hidden;
  
  // for custom background
  background-image: none;
  
  #layoutFrame {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &.hori #layoutFrame {
    background-image: url("./../StreamLayout.png");
  }
  &.vert #layoutFrame {
    background-image: url("./../StreamLayoutVertical.png");
  }
}

/* source positions */
#container {
  #titleTexts {
    position: absolute;
    top: 0;
    left: 0;
    width: 397px;
    height: $lineAreaHeight;
    padding-top: 3px;
  }
  
  #currentTime {
    position: absolute;
    display: inline-block;
    font-size: 10pt;
    $padding: 14.25px;
    width: 92.5px - $padding * 2;
    height: 45px - $padding * 2;
    padding: $padding;
  }
  &.hori #currentTime {
    top: 0;
    left: 459.375px;
  }
  &.vert #currentTime {
    top: 360px;
    left: 77.75px;
  }
  
  #interactiveOptions {
    position: absolute;
  }
  &.hori #interactiveOptions {
    top: $lineAreaHeight;
    width: $mainAreaWidth;
    height: $mainAreaHeight;
  }
  &.vert #interactiveOptions {
    left: 248px;
    width: 304px;
    height: 405px;
  }
  
  #sideArea {
    position: absolute;
    width: $sideAreaWidth;
    height: $mainAreaHeight;
  }
  &.hori #sideArea {
    top: $lineAreaHeight;
    left: $mainAreaWidth;
  }
  &.vert #sideArea {
    top: $lineAreaHeight;
    left: 596px;
  }
  #sideArea {
    #sideImage {
      width: 100%;
      height: $sideAreaWidth * 0.75;
      display: block;
    }
    label { display: none; }
    #sideText {
      width: 100%;
      height: $mainAreaHeight - ( $sideAreaWidth * 0.75 );
    }
  }
  
  #chatBox {
    position: absolute;
    top: $lineAreaHeight + $mainAreaHeight;
    width: 800px;
    height: $lineAreaHeight;
    border: none;
  }
  
}

// extra setups
#container {
  // disabling currentTime by default
  #currentTime { display: none; }
}
