/* consistent values */
$layoutWidth: 800px;
$layoutHeight: 450px;
$lineAreaHeight: 45px;
$mainAreaWidth: 640px;
$mainAreaHeight: 360px;
$sideAreaWidth: 160px;

@import 'dnr';

body {
  background: transparent;
  margin: 0;
  overflow: hidden;
  
  font-family: "Fira Code", monospace;
  font-size: 14pt;
  color: $dnr-blue-base;
}
input, textarea {
  color: $dnr-blue-base;
}
input, label {
  font-size: 0.696em;
}

/* simple or common properties */
.nodisplay { display: none; }
.noresize { resize: none; }

/* base positioning and background images */
#container {
  width: $layoutWidth;
  height: $layoutHeight;
  overflow: hidden;
  
  // for custom background
  background-image: none;
  
  #layoutFrame {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &.hori #layoutFrame {
    background-image: url("./../StreamLayout.png");
  }
  &.vert #layoutFrame {
    background-image: url("./../StreamLayoutVertical.png");
  }
}

/* source positions */
#container {
  #headerTexts {
    position: absolute;
    top: 0;
    left: 0;
    width: 397px;
    height: $lineAreaHeight;
    padding-top: 3px;
  }
  
  #currentTime {
    position: absolute;
    font-size: 10pt;
    $padding: 14.25px;
    width: 92.5px - $padding * 2;
    height: 45px - $padding * 2;
    padding: $padding;
  }
  &.hori #currentTime {
    top: 0;
    left: 459.375px;
  }
  &.vert #currentTime {
    top: 360px;
    left: 77.75px;
  }
  
  #interactiveOptions {
    position: absolute;
  }
  &.hori #interactiveOptions {
    top: $lineAreaHeight;
    width: $mainAreaWidth;
    height: $mainAreaHeight;
  }
  &.vert #interactiveOptions {
    left: 248px;
    width: 304px;
    height: $lineAreaHeight + $mainAreaHeight;
  }
  
  #sideArea {
    position: absolute;
    width: $sideAreaWidth;
    height: $mainAreaHeight;
  }
  &.hori #sideArea {
    top: $lineAreaHeight;
    left: $mainAreaWidth;
  }
  &.vert #sideArea {
    top: $lineAreaHeight;
    left: 596px;
  }
  #sideArea {
    .side4x3 {
      width: $sideAreaWidth;
      height: $sideAreaWidth * 0.75;
    }
    .side2x3 {
      width: $sideAreaWidth;
      height: $sideAreaWidth * 1.5;
    }
    #sideImage {
      display: block;
    }
  }
  
  #chatBox {
    position: absolute;
    top: $lineAreaHeight + $mainAreaHeight;
    width: 800px;
    height: $lineAreaHeight;
    border: none;
  }
  
}

