#sideArea {
  #sideImage {
    object-fit: contain;
  }
  #sideText {
    background: transparent;
    padding: 0;
    border: 0;
    font-family: "Fira Code", monospace;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
    font-size: 0.7786em; /* 10.5pt */
    color: #65849f;
  }
}
