@import 'dnr';

#headerTexts {
  overflow: hidden;
  input {
    display: block;
    background: transparent;
    padding: 0;
    border: 0;
    line-height: 1em;
    width: 100%;
    
    font-family: "Fira Code", monospace;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }
  #headerTitle {
    font-size: 1em; /* 14pt */
    color: $dnr-blue-base;
    font-weight: bold;
  }
  #headerObject {
    font-size: 0.7857em; /* 11pt */
    color: $dnr-blue-dark;
    font-family: "Fira Code Retina", monospace;
  }
}
